/* DEFINIÇÃO DE VARIAVEIS DO PROJETO */

/* Paleta pega em 
https://color.adobe.com/explore?q=blue&color-palette=2A2C2B%2C374140%2CE3E3E3%2C2B5987%2CE5DFC5&color-palette-name=My+Color+Theme
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Primary-Color: #2A2C2B;
    --Secondary-Color:#374140;
    --Contrast-Color: #ffffff;
    --Blue-Color: #2B5987;
    --Light-Blue-Color: #AED0FA;
    --Beige-Color: #ffde7b;
    --box-shadow-default: 0 0 6px #00000026;
    --font-family: "Poppins",sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--Beige-Color);
    font-family: var(--font-family);
    transition: .3s;
    position: relative;
}

body.darkMode{
    --Primary-Color: #ffffff;
    --Secondary-Color:#374140;
    --Contrast-Color: #2A2C2B;
    --Blue-Color: #fbbd04;
    --Light-Blue-Color: #bb8d00;
    --Beige-Color: #2B5987; 
    --box-shadow-default: 0 0 6px #00000026;
    --font-family: "Poppins",sans-serif;

    color: var(--Primary-Color);
}

h1{
    font-size: 3rem;
}

.containerTasks{
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    height: 100%;
    margin: 0 auto;
    max-width: 1550px;
}

.containerForm{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    min-height: 60vh;
    width: 100%;
    max-width: 600px;
    background-color: var(--Contrast-Color);
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow-default);
    gap: 1rem;
    padding: 2rem;
}

.containerForm h2{
    font-size: 2rem;
}

#form{
    width: 90%;
    height: 80%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.itemForm{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.itemForm.description{
    flex-direction: column;
    gap: 1rem;
}

.itemForm.description textarea{
    min-height: 100px;
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.itemForm label{
    font-size: 1.5rem;
    font-weight: 500;
}

.itemForm input, .itemForm select{
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0 1rem;
    font-weight: 500;
    font-size: 1rem;
    width: 60%;
}

.saveBtn{
    display: flex;
    width: 60%;
    max-width: 300px;
    height: 4rem;
    background-color: var(--Blue-Color);
    color: var(--Contrast-Color);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    box-shadow: var(--box-shadow-default);
    transition: .3s ease;
    cursor: pointer;
}

.saveBtn:hover{
    background-color: var(--Secondary-Color);
}

.listTasks{
    width: 100%;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerListTasks{
     display: flex;
    gap: 1rem;

    flex-direction: column;
    
    height: 100%;
    width: 100%;
    max-width: 80vw;
    background-color: var(--Blue-Color);
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow-default);
    padding: 2rem;
    color: var(--Contrast-Color);
     
    margin-bottom: 2rem;
}

.itemListTask{
    background-color: var(--Contrast-Color);
    color: var(--Primary-Color);
    list-style: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    text-indent: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: .3s;
}



.bi{
    color: var(--Blue-Color);
    font-size: 1.5rem;
    cursor: pointer;
}

.labelsTask p{
    font-weight: bold;
    text-align: center;
}

.labelsTask{
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: var(--box-shadow-default);
    background-color: var(--Primary-Color);
    color: var(--Contrast-Color);
    z-index: 999;
    max-height: 3rem;
}

.actionsDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0.5rem;
    transition: .3s;
}

.completedTask{
    background-color: var(--Light-Blue-Color); 
    font-weight: bold;
    text-decoration: line-through;
    color:rgba(0, 0, 0, 0.484);
}

.completedTask .actionsDiv div i{
    color: var(--Primary-Color);
}

.descItem{
    position: absolute;
    bottom: 2rem;
    left: 3rem;

    width: 80%;
    word-break: break-all;
}

.openMenu{
    padding: 2rem;
    align-items: flex-start;
}

.itemListTask.openMenu{
    height: 300px !important;
    position: relative;

}

.boxFilters{
    display: flex;
    width: 80%;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
     background-color: var(--Blue-Color);
    color: var(--Contrast-Color);
    margin: 0 auto;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    flex-wrap: wrap; 
}

.listTasks h2{
    text-align: center;
    background-color: var(--Contrast-Color);
    color: var(--Primary-Color);
    width: 40%;
    margin: 0 auto;
    border-radius: 8px;
}

.filterText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filterText h3{
    text-align: center;
}

.filterText input{
    width: 80%;
    height: 2rem;
    border-radius: 5px;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1rem;
}

#filterPriority, #filterStatus{
        border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0 1rem;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
}

#filterButton{
    padding: 1rem 2rem;
    border: none;
    outline: none;
    background-color: var(--Primary-Color);
    color: var(--Contrast-Color);
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
}

.filterPriority, .filterStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 

@media (width <  1100px) {
    .containerTasks{
        flex-direction: column;
        align-items: center;
    }
    .listTasks{
        align-items: center;
    }

    .containerListTasks{
        max-width: 90%;
        max-height: none;
        margin-bottom: 50px;
    }
    .containerForm{
        max-width: 90%;
    }
    .actionsDiv{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .openMenu{
        height: 500px;
    }
}

@media (width < 500px){
    .containerListTasks{
        width: 100%;
        max-width: none;
        padding: 1rem;
    }

}

@media (width < 420px){
    .containerListTasks,.containerForm{
        padding: 0.5rem;
        border-radius: 0;
    }
    .containerTasks{
        padding: 0;
        width: 100%;

    }

}

@media(width < 350px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem !important;
    }

    .actionsDiv{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 40%;
        gap: 1rem;
    }

    .actionsDiv div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
 
    }

    .itemForm{
        width: 90%;
        flex-direction: column;

    }

    .itemForm select, .itemForm input{
        width: 80%;
        border-radius: 3px;
        height: 2rem;
    }

    .filterText{
        flex-direction: column;
    }
}